.idea
devenv/
data/
politifact/
Generated_Data/
References/
Model/Doc2Vec/
Model/FakeNews/
Model/Serving/
Model/*.h5
Model/ModelConf.py
Services/Twitter_Service/creds.json
**/__pycache__
**/node_modules