.Nav{
    margin-top:2%;
    width: 100%;
    height:20%;
    display: inline;
    height:8vh;
    
    
    
}

.Logo{
    display:"inline-block";
     height:"5vh";
     float:"left";
     margin-top:2%;
     margin-left: 2%;
}


